body{
    text-align:center;
}

div{
    height:100px;
    width:100px;
    display:inline-block;
    border:2px solid black;
}

#container{
    width:800px;
    height:200px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color:bisque;
}

#box3{
    background-color:cornflowerblue;
}

#box4{
    background-color:chartreuse;
}

#box5{
    background-color:chocolate;
}